# .gitignore
.env
.env.local
/db

# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Database
db/
data/
*.sqlite3

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/
*/migrations/*.py

# Django static files (collected)
staticfiles/

# OS / IDE files
.DS_Store
.idea/
.vscode/

# Logs
*.log
